@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbars while allowing scroll functionality */
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

html {
  font-family: "Inter";
  width: 550px;
  height: 750px;
}

.btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-style: none;
  background: turquoise;
  cursor: pointer;
  z-index: 1;
}

.navbar {
  padding-top: 350px;
  width: 100%;
  height: 100vh;
  margin: none;
  border-radius: 16px;
  /*background-color: turquoise;*/
  background: linear-gradient(to top, #8e2de2, #4a00e0);
}

.navList {
  padding: 100px 70px 200px 70px;
}

.nav-item {
  font-size: 20px;
  font-weight: normal;
  list-style: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  border-radius: 10px; /* Optional: Rounded corners */
}

.nav-item:hover {
  backdrop-filter: blur(10px); /* ✅ Adds a smooth blur effect */
  font-size: 25px;
  font-weight: bold;
  list-style: none;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

h4 {
  margin-block-start: 1px;
  margin-block-end: 1px;
}

body::-webkit-scrollbar {
  display: none; /* Hides scrollbar in WebKit-based browsers (e.g., Chrome, Safari) */
}

/* Scroll container */
.scroll-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

/* Each section */
.scroll-section {
  scroll-snap-align: start;
  height: 100vh;
}

body {
  -ms-overflow-style: none; /* Hides scrollbar in Internet Explorer */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

/* index.css */
.footer-container {
  position: absolute;
  bottom: 0; /* Aligns the canvas to the footer */
  width: 100%; /* Full width */
  height: 25vh; /* Increase footer height for lower placement */
  display: flex;
  align-items: flex-end; /* Align crosses at the bottom */
  justify-content: center;
  background-color: yellow;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh; /* Ensure full-screen height */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(to bottom, red, black); */
}

.hero-content {
  position: absolute;
  text-align: center;
  color: white;
  font-size: 2rem;
  z-index: 10; /* Ensure text is above the canvas */
}
